@font-face {
    font-family: Itim;
    src: url(https://fonts.gstatic.com/s/itim/v15/0nknC9ziJOYe8BdAkP7Z.woff2) format('woff2');
    unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Headers */
.header{
    display: flex;
    flex-direction: row;
    background-color: #59AD9C;
    width: 100%;
    height: 40px;
}

.hero{
    display: flex;
    flex-direction: row;
    background: #56BEA9;
    width: 100%;
    height: 257px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.hero h1{
    width: 907px;
    height: 192.945px;
    color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 400;
    font-size: 64px;
    font-family: Itim, sans-serif, serif;
    margin: 0;
    text-align: center;
    align-content: center;
}

.hero p{
    margin: 0;
}

/* Main */
.main{
    height: 100%;
}

.mcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

#start button{
    width: 292px;
    height: 171px;
    flex-shrink: 0;
    border: 68px;
    border-radius: 68px;
    background: #61D4B0;
    font-size: 64px;
    color: white;
    text-align: center;
    font-family: Itim, sans-serif, serif;
}

.rpsbutton-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rpsbutton-container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.rpsbutton-container li{
    width: 211.957px;
    height: 211.151px;
    flex-shrink: 0;
    aspect-ratio: 211.96/211.15;
    border: 68px;
    border-radius: 131px;
    background: #61D4B0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rpsbutton-container img{
    object-fit: contain
}

img#rock{
    margin-left: 30px;
}

img#paper{
    margin-left: 60px;
}

/* footer */
#footer {
    display: flex;
    flex-direction: row;
    background-color: #4B4A4A;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    color: white;
}